@model PortalDeTraducoes.Models.ViewModels.GameViewModel

@{

    // Model.RealeaseDate.ToString("dd/MM/yyyy")
}
<div class="card bg-light">
    <div class="row">
        <div class="col-12 col-md-4">
            <div class="text-center text-md-right">
                <img src="@Model.CoverArtUrl" />
            </div>
        </div>
        <div class="col-12 col-md-8">
            <div class="row">
                <div class="col-12">
                    <h2 class="card-title pt-4 text-center text-md-left">@Model.Title</h2>

                </div>
                <div class="col-12 mb-4">
                    <div class="text-center text-md-left">
                        @{
                            <div>Desenvolvores: @string.Join(" ", Model.Developers)</div>
                            <div>Distribuidoras: @string.Join(" ", Model.Publishers)</div>
                            <div>Gêneros: @string.Join(" ", Model.Genres)</div>
                            <div>Plataformas: @string.Join(" ", Model.Platforms)</div>
                        }
                    </div>
                </div>
            </div>


        </div>

    </div>

    <div class="row">


    </div>
</div>

<a asp-action="RegisterNewTranslation" asp-controller="Translations" asp-route-gameName="@Model.Title" class="btn btn-primary">Adicionar tradução</a>
